body {
  background-color: #eaeaea !important;
}

.fill-window {
  height: 100vh;
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.header {
  display: inherit;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  background-image: url(./images/radiation.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:left, top;
}

.flex-setting {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

/* landing page style */

.landing-footer{
    position: fixed;
    bottom : 0;
    width: 100%;
    overflow: hidden;
}

.landing-image {
  background-image: url(./images/scanner.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat:no-repeat;
  background-color: white;
}

/* end landing page style */
.trigger {
  padding: 0 24px;
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover {
  color: #1890ff;
}

