body {
  background-color: #eaeaea !important;
}

.fill-window {
  height: 100vh;
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
}

/* landing page */

.landing-footer{
    position : fixed;
    bottom : 0;
    width: 100%;
    overflow: hidden;
}